button{
    background: #BA4520;
    border-radius: 10px;
    padding: 8px 40px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 33px;
    color: #FDFBF8;
    cursor: pointer;
}