<div class="header">
    <div style="display: flex; justify-content: space-between; padding-left: 150px; padding-right: 150px; padding-bottom: 50px;">
        <div style="padding-top: 100px;">
            <p class="title"> Descubra a praticidade de </p>
            <p class="title">comprar ovos online!</p>
            <p class="subtitle">Evite filas e aproveite a conveniência de receber ovos de qualidade  sem sair de casa.</p>
            <button routerLink="/cadastro"> Cadastre-se </button>
        </div>
        <div>
            <img src="assets/img/ovosvaldo.png" width="400px" alt="">
        </div>
    </div>
</div>
